<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <!-- css fragment -->
        <head th:fragment="css">
            <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        </head>
        <!-- js fragment -->
        <head th:fragment="js">
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js"></script>
            <script th:src="@{/js/bootstrap.min.js}"></script>
        </head>
    </head>
    <body>
        <!-- navbar fragments -->
        <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark" style="background-color:midnightblue;" >
            <a th:text="SIPILOT" class=" navbar-brand font-weight-bold" href="/" 
            style="font-family:'Haettenschweiler'; font-size: 30px;"></a>
            <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAltMarkup"
            aria-controls="navbarAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class=" navbar-toggler-icon"></span>
            </button>
            <div class=" collapse navbar-collapse" id="navbarAltMarkup">
                <div class=" navbar-nav">
                    <!-- still todo///// -->
                    <a class=" nav-item nav-link active" th:href="@{/pilot}">Pilot<span class=" sr-only">{current}</span></a>
                    <a class=" nav-item nav-link active" th:href="@{/penerbangan}">Penerbangan<span class=" sr-only">{current}</span></a>
                    <a class=" nav-item nav-link active" th:href="@{/}">Cari<span class=" sr-only">{current}</span></a>
                </div>
            </div>
        </nav>
    </body>
</html>